<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_Shipping>
            <version>0.1.0</version>
        </Inchoo_Shipping>
    </modules>
    <global>
        <models>
            <inchoo_shipping>
                <class>Inchoo_Shipping_Model</class>
            </inchoo_shipping>
        </models>
        <helpers>
            <inchoo_shipping>
                <class>Inchoo_Shipping_Helper</class>
            </inchoo_shipping>
        </helpers>
    </global>
    <default>
        <carriers>
            <inchoo_shipping>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>inchoo_shipping/carrier</model>
                <title>Inchoo Shipping Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
                <express_max_weight>3</express_max_weight>
            </inchoo_shipping>
        </carriers>
    </default>
</config>